fastapi
uvicorn
pydantic
python-dotenv
openai
chromadb
langchain-text-splitters
langchain-openai
langchain-core
langgraph
pypdf
python-multipart
deep-translator
motor
passlib[bcrypt]
python-jose[cryptography]